* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
.header {
    display:flex;
    padding-top: 5px;
    padding-left: 5px;
    justify-content: space-around;
    background-color: #d1d1c9;
    align-items: center;
}

/* NAVIGATION BAR */
.navbar {
    padding-top: 5px;
    font-size: 1rem;
}

.navlist li{
    padding-right: 20px;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

.navlist li a:hover {
    color: red;
}

.menu {
    list-style-type: none;
    display: inline;
}

/* LOGO */
.logo img {
    height: 100px;
}

/* SEARCH BAR */
.search input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.fa-search {
    padding: 10.5px;
}


/* HERO-1 SECTION */
.hero-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    margin-top: 4rem;
}

.hero-1-image {
    text-align: center;
}

.hero-1-content h2 {
    font-size: 2rem;
    padding: 0px 0px 25px 25px;
}

.hero-1-content p {
    border-left: 5px green solid;
    padding-left: 15px;
    line-height: 2;
    font-size: 1.1rem;
}

.btn {
    border: none;
    background-color: #2196F3;
    color: white;
    padding: 14px 24px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: darkblue;
}

.hero-1-btn {
    margin-left: 20px;
    margin-top: 50px;
}


/* HERO-2 SECTION */
.hero-2 {
    padding: 4rem 0rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.hero-2-content {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.hero-2-content h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 25px;
}

.hero-2-content p {
    border-left: 5px green solid;
    border-right: 5px green solid;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
    font-size: 1.1rem;
}

.hero-2-btn {
    width: 25%;
    margin: 0 auto;
    margin-top: 50px;
}

#donateSites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0;
    font-size: 1.2rem;
}

/* FOOTER */
footer {
    background-color: #d1d1c9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 0px;
}

.footer-logo {
    text-align: center;
}
.newsletter-form {
    display: flex;
    flex-direction: column;
}

footer h2 {
    padding: 10px 0px;
}

.newsletter-form {
    width: 60%;
}

.newsletter-form input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.newsletter-form button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 9px;
    font-size: 17px;
    margin-top: 3px;
}

/* Style all font awesome icons */
.social-media .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.credit {
    height: 50px;
    text-align: center;
    background-color: red;
    font-size: large;
    padding: 15px;
}