* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
.header {
    display:flex;
    padding-top: 5px;
    padding-left: 5px;
    justify-content: space-around;
    background-color: #d1d1c9;
    align-items: center;
}

/* NAVIGATION BAR */
.navbar {
    padding-top: 5px;
    font-size: 1rem;
}

.navlist li{
    padding-right: 20px;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

.navlist li a:hover {
    color: red;
}

.menu {
    list-style-type: none;
    display: inline;
}

/* LOGO */
.logo img {
    height: 100px;
}

/* SEARCH BAR */
.search input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.fa-search {
    padding: 10.5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

img.slide {
    width: 730px;
    height: 460px;
}

.mission-container {
    background-color: lightgray;
    margin: 0;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    background-color: white;
    height: 500px;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.footer-container {
    display: flex;
    height: 200px;
    background-color: lightblue;
    justify-content: center;
}

.footer-items ul li {
    list-style-type:  none;
}

.footer-items ul li a {
    text-decoration: none;
}

.slideshow {
    width: 100%;
    height: 100vh;
    display: flex;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
}

[data-component="swiper"] .swiper {
    display: none;
}

[data-component="swiper"] .swiper-slide.active {
    display: block;
}

/* FOOTER */
footer {
    background-color: #d1d1c9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 0px;
}

.footer-logo {
    text-align: center;
}
.newsletter-form {
    display: flex;
    flex-direction: column;
}

footer h2 {
    padding: 10px 0px;
}

.newsletter-form {
    width: 60%;
}

.newsletter-form input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.newsletter-form button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 9px;
    font-size: 17px;
    margin-top: 3px;
}

/* Style all font awesome icons */
.social-media .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.credit {
    height: 50px;
    text-align: center;
    background-color: red;
    font-size: large;
    padding: 15px;
}





