/* BASE STYLING */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    text-align: center;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 15% 40% 45%;
    padding: 1rem 1.6rem;
    background-color: #d1d1c9;
}

/* LOGO */
figure {
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 100px;
}

/* NAVIGATION BAR */
nav {
    display: grid;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar li {
    padding: 0.2rem 0rem;
}

.navbar li:hover {
    background-color: #2196F3;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: #ffffff;
}

/* SEARCH BAR */
.search-container {
    display: grid;
    justify-content: end;
    align-items: center;
}

.search-container input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.fa-search {
    padding: 10.5px;
}

/* HERO-1 SECTION */
.hero-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    margin-top: 4rem;
}

.hero-1-content h2 {
    font-size: 2rem;
    padding: 0px 0px 25px 25px;
}

.hero-1-content p {
    border-left: 5px green solid;
    padding-left: 15px;
    line-height: 2;
}

.btn {
    border: none;
    background-color: #2196F3;
    color: white;
    padding: 14px 24px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: darkblue;
}

.hero-1-btn {
    margin-left: 20px;
    margin-top: 50px;
}

/* HERO-2 SECTION */

.hero-2 {
    padding: 4rem 0rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.hero-2-content {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.hero-2-content h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 25px;
}

.hero-2-content p {
    border-left: 5px green solid;
    border-right: 5px green solid;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
}

.hero-2-btn {
    width: 15%;
    margin: 0 auto;
    margin-top: 50px;
}

/* FOOTER */
footer {
    background-color: #d1d1c9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 0px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

footer h2 {
    padding: 10px 0px;
}

.newsletter-form {
    width: 60%;
}

.newsletter-form input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.newsletter-form button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 9px;
    font-size: 17px;
    margin-top: 3px;
}